

		/*first suptitle*/
		
	.intro {
		width: 100%;
		height: 100vh;
		position: relative;
	}
		
	.title__easy1 h1{
		font-family: 'Kanit', sans-serif;
		font-size: 64px;
		text-align: right;
				/*up right down left*/
		margin: 140px 50px 0px 0px;
		color: #32495E;
	}
	
	.title__easy2 h1{
		font-family: 'Kanit', sans-serif;
		font-size: 64px;
		text-align: left;
				/*up right down left*/
		margin: 140px 0px 0px 50px;
		background: #E95259;
		color: #F3F5FA;
	}
		
	.title__easy1 {
		width: 50%;
		font-family: 'Kanit', sans-serif;
		background: #FFFFFF;
	}
	
	.title__easy2 {
		width: 50%;
		font-family: 'Kanit', sans-serif;
		background: #E95259;
	}
		
	.title {
		display: flex;
		align-items: up;
		justify-content: center;
		height: 100%;
	}
	
	/*vtoroy kysok*/
	
	.container {
		position: absolute;
		top: 360px;
		left: center;
		width: 1400px;
		height: 100%;

	}
	
	.container__pol1 {
		width: 50%;
		font-family: 'Kanit', sans-serif;
		background: #E95259;
		border-radius: 40px 0 0 0;
	}
	
	.container__pol2 {
		width: 50%;
		font-family: 'Kanit', sans-serif;
		background: #FFFFFF;
		border-radius: 0 40px 0 0;
	}
	
	.nav__verh {
		text-align: center;
	}
	
	.mqksoid {
		color: #F3F5FA;
		margin: 30px 0 0 120px;
		text-align: left;
		font-size: 40px;
	}
	
	.container__pol2 h1 {
		font-family: 'Kanit', sans-serif;
		color: #595959;
		text-align: left;
		margin: 50px 0 0 100px;
		font-size: 50px;
	}
	
	.container__pol2 p {
		font-family: 'Kanit', sans-serif;
		color: #000000;
		text-align: left;
		margin: 10px 20px 0 40px;
		font-size: 30px;
	}
	
	.container__p {
		font-family: 'Kanit', sans-serif;
		color: #000000;
		text-align: right;
		margin: 87px 40px 0 20px;
		font-size: 30px;
	}
	
	.container__inside {
		display: flex;
		align-items: up;
		justify-content: center;
		height: 100%;
		box-shadow: -0.5px -0.5px 25px #000000;
		border-radius: 40px 40px 0 0;
	}
		
	.image__nft {
		display: flex;
		margin: 5% 0 0 3%;
		border-radius: 70px;
		transform:skew(-10deg,0);
		opacity: .6;
		float: left;
	}
		/*Navigation*/
	
	.nav__text {
		font-size: 28px;
		font-family: 'Kanit', sans-serif;
		margin: 30px 10px;
		text-align: right;
		text-indent: 30px;
		vertical-align: middle;
		text-decoration: none;
		padding-right: 30px;
		color: #000000;
		
		transition: color .2s linear;
		
	}
	
	.nav__text:hover {
		color: #EE82EE;
	}
	
	.liv__exe2 {
		font-family: 'Kanit', sans-serif;
		color: #000000;
		text-align: right;
		font-size: 28px;
		text-decoration: none;
		
		transition: color .2s linear;
	}
	
	.liv__exe2:hover {
		color: #EE82EE;
	}
	
	.liv__exe1 {
		font-family: 'Kanit', sans-serif;
		color: #000000;
		text-align: right;
		font-size: 28px;
		text-decoration: none;
		
		transition: color .2s linear;
	}
	
	.liv__exe1:hover {
		color: #EE82EE;
	}
	
	.link__li1 {
		margin: 0 0 0 492px;
	}
	
	li {
		list-style-type: none;
    }
	
	li:before {
		content: "► ";
	}